h2 {
    font-size: 170%;
    color: #800000;
    text-indent: 30px;
}

h3.header{
    font-size: 130%;
    font-style: italic;
    text-indent: 30px;
}

  header {
    display: flex;
    align-items: center;
}

.header-text {
    margin-left: 10px; /* Adjust this value as needed */
}

a:hover,
a:focus {
    font-style: italic;
}

footer p {
    text-align: center;
}

h3.header .shadow {
    text-shadow: 2px 2px 2px #800000;
}